{% extends 'base.html' %}
{% block content %}



<h2>
	{{ gachi.name }} says hello! <br>
</h2>
		<img src= {{ gachi.image }} height="250" width="250">
	<ul>
		<li>motto: <b>{{ gachi.motto }} </b> </li>
		<li>hunger: {{ gachi.hunger }}</li>
	</ul>

	<div>Your gachi looks hungry. What do you want to feed {{ gachi.name }}? 
		<form action='/gachi/{{ gachi.name }}/feed' method='POST'>
			<select name="food_type">
				<option value="vindaloo">vindaloo</option>
		  		<option value="pistachios">pistachios</option>
		  		<option value="grub">grub</option>
		  		<option value="{{ gachi.favorite_food}}">{{ gachi.favorite_food }}</option>
		  		<option value="nothing">nothing</option>

			</select><br>
				<input type="submit" value="Give noms!">
		</form>
	</div>


<p><a href="/gachi/create">Add another to the pack?</a></p> 
<a href="/view_gachis">Back to the garden?</a>

<body>
</body>




{% endblock %}

<!-- gachis (rename) show list of gachis, be able to click on each gachi to send to
gachi page which shows gachi profile -->

<!-- task for this page: add info that corresponds to each gachi
	I need to get the corresponding instance from the link to the page

	pass gachi

 -->
