{% extends 'base.html' %}
{% block content %}

<h1>The gachis are happy to see you!</h1>

{% for item in gachis %}
    <h2>{{ item.name }}</h2>
{% endfor %}

<p><a href="/gachi/create">Add another to the pack?</a></p> 


<!-- <p> {{ gachis }}</p> -->
=======
<h2> {{ gachi_name }}</h2>
<body>
<p> {{ gachi_name }}</p>
</body>
<!-- <p><a href="/creation">Create a new bud?</a></p> 
this link should go to the server view which renders the create.html

<p><a href="/view_gachis">Hangout with current gachis</a></p> 
 -->

<!-- <h2>Users</h2>
<p><a href="/users">View all users</a></p>

<form action='/logout'> 
    <input type="submit" value="Log Out">
</form>
 -->
{% endblock %}

<!-- these routes match the views on the server -->
