{% extends 'base.html' %}
{% block content %}

<h1>The gachis are happy to see you!</h1>

<h2>Gachis in the Garden:<br></h2>

<ul>
{% for item in gachis %}
	<li>
		<a href="/gachi/{{ item.name }}"</a>{{ item.name }} 
    </li>
{% endfor %}
<!-- task: fix this link so links to correct name, not all shifted down- complete! -->
<!-- next task: make links link to correct page- c -->
<!-- eventual task: add image icon next to name -->
</ul>

<p><a href="/gachi/create">Add another to the pack?</a></p> 


<body>
</body>

{% endblock %}

