{% extends 'base.html' %}
{% block content %}

<h1>The gachis are happy to see you!</h1>

<h2>Gachis in the Garden:<br></h2>

<ul>
{% for item in gachis %}
	<li>{{ item.name }}
    <a href="/gachi/{{ item.name }}"</a>
    </li>
{% endfor %}
</ul>

<p><a href="/gachi/create">Add another to the pack?</a></p> 


<body>
</body>

{% endblock %}

<!-- task 1: make name links display indiv gachi info -->
<!-- task *: store gachis to dictionary instead of list -->
<!-- why doesn't the pre-instantiation link up? -->