{% extends 'base.html' %}
{% block content %}

<h1>Welcome to Tomagachi World!!</h1>

<h2></h2>

<!-- What do I want here? I want a form that collects user input of a name --> 
 <!--   #link to creating gachi

    #link to  -->
<p><a href="/gachi/create">Create a new bud?</a></p> 
<!-- this link should go to the server view which renders the create.html -->

<p><a href="/view_gachis">Hangout with current gachis</a></p> 


<!-- <h2>Users</h2>
<p><a href="/users">View all users</a></p>

<form action='/logout'> 
    <input type="submit" value="Log Out">
</form>
 -->
{% endblock %}

<!-- these routes match the views on the server -->
